#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.JokeContainer form {
  display: flex;
  flex-direction: column;
}

.subBtn,
.newBtn {
  margin-top: 2rem;
}

.jokeValue {
  max-width: 80vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
